footer{
    width: 100%;
    position: absolute;
    background-color: var(--main-yellow);
}
.footer{
    color: white;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.footer-ul{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
}

.footer-ul ul{
    padding: 0;
}

.footer-ul li{
    list-style: none;
    width: 100%;
}
.footer-ul li:nth-child(2){
    text-align: center;
}
.footer-ul li:last-child{
    text-align: right;
}