/*General CSS Configs */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
:root{
    --main-yellow: #fcb900;
    --yellow-shadow:#d18b00;
    --green-whats: #25d366;
}

body, html{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;

    font-family: 'Outfit', sans-serif;

}
