main{
    width: 100%;
    position: relative;
    background-color: var(--main-yellow);
}
.main-body{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.first-item-section{
    width: 100%;

    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    justify-content: center;
}

.first-item-section-container{
    width: 80%;
}

.first-item-section h1{
    font-size: 50px;

    position: relative;
    top: -50%;
    margin: 0;
    font-weight: 900;
}

.first-item-section h2{
    font-size: 15px;
}

.simple-url-first-item li{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;

    margin: 0 auto;
    gap: 2em;
}

.simple-url-first-item{
    display: flex;
    padding: 0;
    flex-direction: column;
    list-style: none;
    width: 100%;



    position: absolute;
    bottom: 0;
    left: 0;

}

.simple-url-first-item a{
    color: rgb(56, 32, 0);
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: .5em;
    text-decoration: none;
    
    width: 100%;
    
    border-radius: 50px;
    transition: .2s linear;

}

.simple-url-first-item a:hover{
    scale: 1.05;
    box-shadow: 0 0 20px white;
}

.simple-url-first-item a:nth-child(2){
    background-color: black;
    color: white;
}

.parceiros-header{
    display: flex;
    align-content: center;
    justify-content: center;

    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;

    width: 530px;

    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;

    top: 55%;

}

.parceiros-header h2{
    padding: 5px;
    margin: 2px;
}

.parceiros-header h2:nth-child(1){
    color: var(--main-yellow);
    display: flex;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
}

/*
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
*/

.atencao{

    background-color: white;

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 15em;

    text-align: center;

}
.atencao-container{
    width: 80%;
    margin: 0 auto;
}
.atencao-container h2{
    font-size: 40px;
    font-weight: 900;
}


.cards-container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 6em;
    border: 1px solid black;

    transition: .2s linear;

}

.cards-container-main:hover{
    scale: 1.02;
}



.cards-container-main a{
    text-decoration: none;
    color: black;
}
.left-atencao{
    width: 100%;
}

.left-atencao img{
    width: 50%;
}

.right-atencao{
    width: 100%;
    text-align: left;

}

.atencao-container-ul{
    padding: 0;
    display: flex;
    margin: 1em;
    align-items: center;

}
.atencao-container-ul p{
    font-size: 18px;
}
.atencao-container-ul h2, p{
    width: 100%;
    text-align: left;
}