.whatssender{
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 10;
    right: 50px;
    bottom: 50px;
    background-color: rgb(142, 230, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    text-align: center;

    transition: 250ms ease-in-out;

}

.whatssender:hover{
    scale: 1.02;
    background-color: var(--main-yellow);
}   

.whatssender img{
    margin: 0 auto;

    width: 70%;
    filter: invert();
}


main{
    width: 100%;
    position: relative;
    background-color: var(--main-yellow);
}
.main-body{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.first-item-section{
    width: 100%;

    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    justify-content: center;
}


.first-item-section-container{
    width: 80%;
}

.first-item-section h1{
    font-size: 50px;

    position: relative;
    top: -50%;
    margin: 0;
    font-weight: 900;
}

.first-item-section h2{
    font-size: 15px;
}

.simple-url-first-item li{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;

    margin: 0 auto;
    gap: 2em;
}

.simple-url-first-item{
    display: flex;
    padding: 0;
    flex-direction: column;
    list-style: none;
    width: 100%;



    position: absolute;
    bottom: 0;
    left: 0;

}

.simple-url-first-item a{
    color: rgb(56, 32, 0);
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: .5em;
    text-decoration: none;
    
    width: 100%;
    
    border-radius: 50px;
    transition: .2s linear;

}

.simple-url-first-item a:hover{
    scale: 1.05;
    box-shadow: 0 0 20px white;
}

.simple-url-first-item a:nth-child(2){
    background-color: black;
    color: white;
}

.parceiros-header{
    display: flex;
    align-content: center;
    justify-content: center;

    border: 2px solid black;
    padding: 2px;
    border-radius: 50px;

    width: 530px;

    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;

    top: 55%;

}

.parceiros-header h2{
    padding: 5px;
    margin: 2px;
}

.parceiros-header h2:nth-child(1){
    color: var(--main-yellow);
    display: flex;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
}

/*
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
*/

.atencao{

    background-color: white;

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 8em;
    padding-bottom: 12em;
    text-align: center;

}
.atencao-container p{
    font-size: 20px;
    width: 75%;
    margin: 0 auto;
}
.atencao-container{
    width: 80%;
    margin: 0 auto;

}
.atencao-container h2{
    font-size: 40px;
    font-weight: 900;
}

.att-cont{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;

    text-align: left;
}

.cards-container-main{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: 15px;

    border: 1.8px solid black;
    padding: 1em;
    border-radius: 20px;

    background-color: white;

    transition: 150ms ease-in-out;

}

.cards-container-main:hover{
    scale: 1.02;
    background-color: var(--main-yellow);
    border-color: #d58300;
}

.cards-container-main:hover .left-atencao figure{
    background-color: white;
}
.cards-container-main:hover .right-atencao span{
    color: white;
}
.right-atencao span{
    color: var(--main-yellow);
    font-weight: 900;
    justify-content: space-between;
}

.cards-container-main h2{
    font-size:20px;
}
.cards-container-main p{
    font-size: 14px;
    width: 100%;
}
.left-atencao{
    width: 100%;
}

.left-atencao figure{
    width: 70px;
    height: 70px;
    font-size: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--main-yellow);
    border: solid 1px black;

    margin: 0;
}
.left-atencao figcaption{
    display: none;
}

.left-atencao img{
    width: 100%;
}
.right-atencao{
    width: 100%;
}

/*
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
*/

.clientes{
    width: 100%;
    background-color: white;
}
.main-clientes-section{
    width: 80%;
    margin: 0 auto;
    text-align: center;

    position: relative;

}
.main-clientes-section h2{
    font-size: 40px;
}
.main-clientes-section p{
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
}

.cases-clientes-section{
    padding-bottom: 10em;
}

.scoller{
    margin: 0 auto;
    max-width: 100%;

    padding-block: 5em  ;

    overflow: hidden;
    mask: linear-gradient(90deg,transparent, white, white 80%, transparent);
}
.scoller li{
    list-style: none;
}

.scoller img{
    width: 150px;
}

.scroller_inner{
    width: max-content;
    
    flex-wrap: nowrap;
    display: flex;
    gap: 1em;

    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    to{
        transform: translateX(-50%);
    }
}

/*
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
#######################################
*/

.cases-clientes-section ul{
    display: flex;
    gap: 1em;
    grid-template-columns: auto auto;
}
.cases-clientes-section li{
    list-style: none;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
}